NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
QUICKSDK_BASE_URL=http://custom-sdkapi.gamewemade.com
QUICKSDK_OPEN_ID=
QUICKSDK_OPEN_KEY=
QUICKSDK_PRODUCT_CODE=
QUICKSDK_CHANNEL_CODE=website
